<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feedback</title>
    <link rel="stylesheet" href="feedback.css">
</head>
<body style="margin: auto">
<br><br>
<p>Test Stuff</p>
<br>
<form action="" method="post">
  <table border="1">
    <tr id="text_row"></tr>
    <tr id="checkbox_row"></tr>
  </table>
  <br>
    <audio controls>
        <source src="" type="audio/">
        This browser doesn't support audio
    </audio>
    <br><br>
  <input type="text" onclick="update_table(this.value)" value="Test stuff">
  <input type="submit" value="Submit">
</form>

</body>

<script>
function update_table(text) {
  // reset the rows
  let text_row = document.getElementById("text_row");
  let checkbox_row = document.getElementById("checkbox_row");
  text_row.innerHTML = "";
  checkbox_row.innerHTML = "";

  for (let i = 0; i < text.length; i++) {
    let radio_name = "char" + i.toString();
    let radio_box = "<label>10</label><input type='radio' id='10' name='" + radio_name + "' value='10' checked>";
    for (let j = 9; j > 0; j--) {
      radio_box += "<br><label>" + j + "</label><input type='radio' id='" + j + "' name='" + radio_name + "' value='" + j + "'>";
    }

    text_row.innerHTML += "<td>" + text[i] + "</td>";
    checkbox_row.innerHTML += "<td>" + radio_box + "</td>";
  }
}
</script>

<script src="../js/feedback.js"></script>
</html>
