<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feedback</title>
    <link rel="stylesheet" href="feedback.css">
</head>
<body style="margin: auto">
<br><br>
<p>Test Stuff</p>
<br>
<form action="{{ url_for('feedback') }}" method="post">
  <table border="1">
    <tr id="text_row"></tr>
    <tr id="checkbox_row"></tr>
  </table>
  <br>
    <audio controls>
        <source src="{{clip_path}}" type="audio/">
    </audio>
    <br><br>
<!--  <input type="text" onclick="update_table(this.value)" value="Test stuff">-->
    <input type="text" id="clip_text" name="clip_text" value="{{ clip_text }}" hidden>
  <input type="submit" value="Submit">
</form>

</body>

<script defer>
function update_table(text) {
  // reset the rows
  let text_row = document.getElementById("text_row");
  let checkbox_row = document.getElementById("checkbox_row");
  text_row.innerHTML = "";
  checkbox_row.innerHTML = "";

  for (let i = 0; i < text.length; i++) {
    let error_box = ""
    if (text[i] === " ") {
      let check_id = "char" + i.toString();
      let error_box = "<input type='checkbox' id='" + check_id + "' name='errors' value='" + i.toString() + "'>";
    }
    // for (let j = 1; j > 0; j--) {
    //   error_box += "<br><input type='radio' id='" + j + "' name='" + check_id + "' value='" + j + "'>";
    // }

    text_row.innerHTML += "<td>" + text[i] + "</td>";
    checkbox_row.innerHTML += "<td>" + error_box + "</td>";
  }
}
update_table({{ clip_text }})
// update_table({{clip_text}})
</script>

<!--<script src="../js/loadData.js"></script>-->
</html>
