<!DOCTYPE html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feedback</title>
    <link rel="stylesheet" href="../static/feedback.css">
</head>
<body style="margin: auto">
<br><br>
<p>{{ ''.join(org_text) }}</p>
<br>
<form action="{{ url_for('feedback') }}" method="post">
  <table border="1" id="feedback_table">
    <tr id="text_row">
        <td></td>
        {% for i in range(clip_text|length) %}
        <td id="sound_{{ i }}">{{ clip_text[i] }}</td>
        {% endfor %}
    </tr>
    <tr id="checkbox_row">
        <td>Sounds:</td>
        {% for i in range(clip_text|length) %}
        <td><input type='checkbox' id='check_{{ i }}' name='errors' value='{{ i }}'></td>
        {% endfor %}
    </tr>
    <tr id="checkbox_row_tones">
        <td>Tones:</td>
        {% for i in range(syl_spans|length) %}
        <td colspan="{{ syl_spans[i] }}"><input type='checkbox' id='syl_{{ i }}' name='errors_tone' value='{{ i }}'></td>
        {% endfor %}
    </tr>
    <tr id="insert_row">
        <td class="wrap"><div onclick="add_column(this)">Click >> to indicate an insertion right:<br>Click added checkbox to delete</div></td>
        {% for i in range(clip_text|length) %}
        <td class="wrap"><div onclick='add_column(this)'>>></div></td>
        {% endfor %}
    </tr>
  </table>
  <br>
    <audio controls>
        <source src="{{ url_for('static', filename = 'clips/' + clip_path) }}" type="audio/ogg">
    </audio>
    <br><br>
<!--  <input type="text" onclick="update_table(this.value)" value="Test stuff">-->
    <input type="text" id="clip_path" name="clip_path" value="{{ clip_path }}" hidden>
    <input type="text" id="clip_text" name="clip_text" value="{{ clip_text }}" hidden>
  <input type="submit" value="Submit">
</form>

</body>

<script defer>
    function add_column(box) {
        let index = $(box).parent().index();
        // $('#text_row td').eq(index).after("<td></td>");
        // $('#checkbox_row td').eq(index).after("<td onclick='remove_col(this)'><input type='checkbox' checked id='inserted_{{ i }}' name='inserts' value='" + index + "'></td>");
        // $('#checkbox_row_tones td').eq(index).after("<td></td>")
        // $(box).after("<td onclick='remove_col(this)'></td>")
        $(box).after("<input type='checkbox' checked onclick='remove_col(this)' id='inserted_" + index + "' name='inserts' value='" + index + "'>")
    }

    function remove_col(box) {
        // let index = $(box).index()
        // $('#text_row td').eq(index).remove();
        // $('#checkbox_row td').eq(index).remove();
        // $('#checkbox_row_tones td').eq(index).remove();
        // $('#insert_row td').eq(index).remove();
        $(box).remove();
    }

// DEPRECATED
function update_table(text) {
  // reset the rows
  let text_row = document.getElementById("text_row");
  let checkbox_row = document.getElementById("checkbox_row");
  let checkbox_row_tones = document.getElementById("checkbox_row_tones");
  text_row.innerHTML = "";
  checkbox_row.innerHTML = "";
  checkbox_row_tones.innerHTML = "";


  for (let i = 0; i < text.length; i++) {
    let error_box = ""
    if (text[i] === " ") {
      let check_id = "char" + i.toString();
      let error_box = "<input type='checkbox' id='" + check_id + "' name='errors' value='" + i.toString() + "'>";
      let error_box_tones = "<input type='checkbox' id='" + check_id + "' name='errors_tones' value='" + i.toString() + "'>";
    }
    // for (let j = 1; j > 0; j--) {
    //   error_box += "<br><input type='radio' id='" + j + "' name='" + check_id + "' value='" + j + "'>";
    // }

    text_row.innerHTML += "<td>" + text[i] + "</td>";
    checkbox_row.innerHTML += "<td>" + error_box + "</td>";
    checkbox_row_tones.innerHTML += "<td>" + error_box_tones + "</td>";
  }
}
// update_table({{ clip_text }})
// update_table({{clip_text}})
</script>

<!--<script src="../js/loadData.js"></script>-->
</html>
